@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table.dataTable tbody tr:hover {
  background-color: #eff6ff !important;
}
